body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: antiquewhite;
    padding: 20px;
    padding-top: 0;
}